<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand">ngbs-1</a>
    <button class="navbar-toggler" (click)="toggleNavbar()"  type="button" aria-controls="theNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" id="theNavbar"
         [@collapse]="isNavbarCollapsedAnim"
         class="navbar-collapse collapse navbar-toggleable">
      <ul class="navbar-nav mr-auto ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
