.navbar {
  background-color: rgba(28, 35, 43, .7);
  height: 11vmin;
  min-height: 40px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.navbar.small {
  background-color: rgb(28, 35, 43);
  height: 60px;
  box-shadow: 0 4px 50px black;

  .brand {
    height: unset;
  }
}


.navbar-brand {
  align-self: center;
}

.navbar-collapse {
  align-self: baseline;
}

.navbar-toggler {
  padding: 1vmin;
  font-size: 0;
}

.navbar-toggler-icon {
  height: 5vmin;
  width: 5vmin;
}

li a.nav-link.active {
  color: #f6a64d;
}

li a.nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li a.nav-link.active span:before {
  background-color: #f6a64d;
}

li a.nav-link:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

li a.nav-link span {
  position: relative;
  font-weight: 400;
  font-size: 1.1rem;
}

ul.navbar-nav.mr-auto.ml-auto {
  min-width: 450px;
}

.show ul {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  width: 167px;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 14px;
  text-align: right;
  min-width: unset;
}

.brand {
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 8vmin;
  align-self: baseline;
}

.banner-text li.active{
 color: #f6a64d;
}
