.navbar {
  background-color: rgba(0, 0, 0, .2);
  height: 120px;
  padding-top: 35px;
  align-items: baseline;
  min-width: 320px;
  }

li a.nav-link.active {
  color: #f6a64d;
}
li a.nav-link {
  font-weight: 300;
  font-size: 1.1rem;
}
ul.navbar-nav.mr-auto.ml-auto {
  min-width: 420px;
}

.show ul {
  background: rgba(0,0,0, 0.8);
  border-radius: 4px;
  width: 167px;
  padding: 0 10px;
  margin-top: 10px;
  margin-right: 14px;
  text-align: right;
  min-width: unset;
}

.brand {
  text-align: center;
display: flex;
  justify-content: space-between;
}
