
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top"
         [ngClass]="{'small': smallHeader, 'smallMobile': smallHeaderMobile }">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 brand">
            <a routerLink="/home" class="navbar-brand"><img src="/assets/images/logo.png"></a>
            <button class="navbar-toggler burger" (click)="toggleNavbar()" type="button">
                <span class="navbar-toggler-icon burger"></span>
            </button>
        </div>

        <div [ngbCollapse]="isNavbarCollapsed" id="theNavbar" class="navbar-collapse collapse navbar-toggleable">
            <ul class="navbar-nav  ml-auto" [ngClass]="{'mr-auto' : isNavbarCollapsed}" (clickOutside)="closeNavbar($event)">
                <li class="nav-item">
                    <a (click)="isNavbarCollapsed=true" class="nav-link" routerLink="/home"
                       routerLinkActive="active"><span>Про нас</span></a>
                </li>
                <li class="nav-item">
                    <a (click)="isNavbarCollapsed=true" class="nav-link" routerLink="/products"
                       routerLinkActive="active"><span>Продукція</span></a>
                </li>
                <li class="nav-item">
                    <a (click)="isNavbarCollapsed=true" class="nav-link" routerLink="/delivery"
                       routerLinkActive="active"><span>Доставка та оплата</span></a>
                </li>
                <li class="nav-item">
                    <a (click)="isNavbarCollapsed=true" class="nav-link" routerLink="/contacts"
                       routerLinkActive="active"><span>Контакти</span></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

        </div>
    </nav>
