<main class="container-fluid">
    <div class="cooperation">

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="items-header">Варіанти доставки</h2>
            <div class="block-wrapper">
                <img src="/assets/images/delivery.jpg" alt="" width="100%">
                    <ul>
                        <li>Транспортними компаніями по Україні</li>
                        <li>Корпоративним вантажним автомобілем за домовленістю</li>
                        <li>Самовивіз зі складу в м. Івано-Франківськ</li>
                        <li>Самовивіз та доставка корпоративним автомобілем здійснюються в межах робочого часу</li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="items-header">Способи оплати</h2>
            <div class="block-wrapper">
                <img src="/assets/images/payment.jpg" alt="" width="100%">
                <ul>
                    <li>Банківський перерахунок згідно реквізитів</li>
                    <li>Оплата накладним платежем</li>
                    <li>Оплата готівкою</li>
                </ul>
            </div>
        </div>
    </div>


</main>
