<div class="banner">
    <div class="banner-text text-center">
        <h1>Підприємство РЕФАКТ</h1>
        <ngb-carousel class="text-slider" [interval]="3500" [showNavigationArrows]="false" #slider>
            <ng-template ngbSlide>
                <img src="/assets/images/1px.png">
                <div class="carousel-caption">
                    <h3>Торгівля оптом та в роздріб</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="/assets/images/1px.png">
                <div class="carousel-caption">
                    <h3>Виготовлення та встановлення сучасних поручнів</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="/assets/images/1px.png">
                <div class="carousel-caption">
                    <h3>Якісний продукт.<br>Надійний постачальник.<br>Гнучка ціна.</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="/assets/images/1px.png">
                <div class="carousel-caption">
                    <h3>Торгівля кольоровим та нержавіючим металопрокатом</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="/assets/images/1px.png">
                <div class="carousel-caption">
                    <h3>20 років на ринку України та Східної Європи</h3>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <h2 class="items-header">Ваш Вибір!</h2>
    </div>
    <div class="row characteristics">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <span class="icon-item fas fa-star"></span>
            <div class="char-title">Якість</div>
            <div class="char-descr">Виключно сертифікована продукція</div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <span class="icon-item fas fa-space-shuttle"></span>
            <div class="char-title">Оперативність</div>
            <div class="char-descr">Виконання замовлень в найкоротші терміни</div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <span class="icon-item fas fa-check-double"></span>
            <div class="char-title">Відповідальність</div>
            <div class="char-descr">Кожен продукт гарантовано відповідає замовленню</div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <span class="icon-item fas fa-calendar-check"></span>
            <div class="char-title">Гнучкість</div>
            <div class="char-descr">Індивідульний підхід до кожного клієнта</div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <span class="icon-item fab fa-black-tie"></span>
            <div class="char-title">Надійність</div>
            <div class="char-descr">Ми орієнтовані на постійних покупців</div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <span class="icon-item fas fa-chart-line"></span>
            <div class="char-title">Досвідченість</div>
            <div class="char-descr">Більше 20 років на ринку України</div>
        </div>
    </div>
    <div class="row">
        <h2 class="items-header products">Товари і Послуги</h2>
    </div>

    <div class="row">
        <div *ngFor="let item of categories | async" class="row-item col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="img__wrap">
                <img class="img__img" [src]='item.payload.val().imgUrl'/>
                <a [routerLink]="'/products/' + item.key">
                    <div class="img__description_layer">
                        <p class="img__description">{{item.payload.val().description}}<br><br><i>Клікніть для
                            детального перегляду</i></p>
                    </div>
                </a>
                <div class="p-wrapper">
                    <p [routerLink]="'/products/' + item.key" class="img_title">{{item.payload.val().title}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="cooperation">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" [ngClass]="{'row-item': correctWidth}">
            <img src="/assets/images/cooperation.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="items-header">Співпраця</h2>
            <ul>
                <li>Виберіть товар, що Вас цікавить, переглянувши доступні позиції в категорії продукція.</li>
                <li>Перетелефонуйте нам за номерами телефонів, вказаних в розділі контакти, чи оформіть замовлення
                    на сайті.
                </li>
                <li>В найкоротші терміни Ваше замовлення буде опрацьоване і виконане.</li>
                <li>Про стан виконання замовлення Ви будете повідомлені за вказаними даними замовника.</li>
            </ul>
        </div>
    </div>
</div>
