<main class="">
    <div class="banner">
        <div class="banner-text text-center">
            <h1>Підприємство РЕФАКТ</h1>
            <ngb-carousel class="text-slider" [interval]="5000" [showNavigationArrows]="false" #slider>
                <ng-template ngbSlide>
                    <img src="/assets/images/1px.png">
                    <div class="carousel-caption">
                        <h3>Якісний продукт.<br>Надійний постачальник.<br>Гнучка ціна.</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/1px.png">
                    <div class="carousel-caption">
                        <h3>Торгівля кольоровим та нержавіючим металопрокатом</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/1px.png">
                    <div class="carousel-caption">
                        <h3>20 років на ринку України та Східної Європи</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h2 class="items-header">Товари і Послуги</h2>
        </div>

        <div class="row">
            <div *ngFor="let item of categories | async" class="row-item col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="img__wrap">
                    <img class="img__img" [src]='item.payload.val().imgUrl'/>
                    <a [routerLink]="'/products/' + item.key">
                        <div class="img__description_layer">
                            <p class="img__description">{{item.payload.val().description}}<br><br><i>Клікніть для детального перегляду</i></p>
                        </div>
                    </a>
                    <div class="p-wrapper">
                        <p class="img_title">{{item.payload.val().title}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cooperation">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" [ngClass]="{'row-item': correctWidth}">
                <img src="/assets/images/cooperation.jpg" alt="Generic placeholder image" width="100%">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h2 class="items-header">Співпраця</h2>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            </div>
        </div>
    </div>

</main>
