.footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  background-color: #f9a34e;
  align-items: center;
  justify-content: center;
  height: 5vmin;
  min-height: 20px;
;
}
