.product-details {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1000px;

  .product-header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .product-image {
      min-width: 300px;
      img {
        width: 100%;
      }
    }
  }

  .products-list {
    min-width: 700px;
    padding: 0 15px;
    table {
      td:first-child, th:first-child {
        padding-left: 35px;
        text-align: left;
      }
      th {
        text-align: center;
      }
      td, th {
        text-align: center;
        width: 33%;
      }
    }
    .nav-link {
      color: #f9a34e;
      cursor: pointer;
    }
    .nav-link.active {
      color: #ff762e;
    }
  }

}

@media all and (max-width: 680px) {
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
