
.product-details {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1000px;

  .product-description {
    text-align: center;
  }

  .product-title {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 300;
  }

  .product-header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .product-image {
      min-width: 300px;

      img {
        width: 100%;
      }
    }
  }

  .products-list {
    min-width: 700px;
    padding: 0 15px;

    table {
      td:first-child, th:first-child {
        padding-left: 35px;
        text-align: left;
      }

      th {
        text-align: center;
      }

      td, th {
        text-align: center;
        width: 25%;
      }

      td:nth-child(2) {
        width: 50%;
      }

    }

    .nav-link {
      color: #f9a34e;
      cursor: pointer;
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: normal;
    }

    .nav-link.active {
      color: #ff762e;
    }
  }

}

@media all and (max-width: 680px) {
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
