<div *ngIf="productDetails" class="product-details container-fluid">
  <div class="d-flex product-header">
    <div class="product-image col-6">
      <img [src]="productDetails.imgUrl"/>
    </div>
    <div class="product-description col-6">
      <h3 class="product-title mb-3">{{productDetails.title}}</h3>
      <p [innerHtml]="productDetails.description"></p>
    </div>
  </div>
  <div class="products-list mt-4">
    <h4 class="text-center mt-3">Каталог товарів</h4>
    <table class="table table-hover table-dark">
      <thead>
      <tr>
        <th scope="col">Назва</th>
        <th scope="col">Деталі</th>
        <th scope="col">Ціна</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of productDetails.products">
        <td>{{item.Name}}</td>
        <td>{{item.Description}}</td>
        <td>{{item.Price}}</td>
      </tr>
      <tr>
      </tbody>
    </table>
  </div>
</div>
