<main class="container-fluid">

    <div class="row">
        <div #googleMap id="googleMap" class="contacts-map"></div>

    </div>

    <div class="row">
    <div class="contacts-wrap">
        <div class="contacts">
            <H2 class="items-header small">Контактна інформація</H2>
            <i class="icon fas fa-phone"></i><span>моб. 050-338-6335</span><br>
            <i class="icon fas fa-fax"></i><span>факс. 0342-55-94-81</span><br>
            <i class="icon fas fa-map-marker-alt"></i><span>Івано-Франківськ, Грушевського 22А</span><br>
            <i class="icon fas fa-at"></i><span>refakt@gmail.com</span><br>
            <i class="icon fas fa-calendar"></i><span>Пн-Пт. 9:<sup>30</sup>-17:<sup>00</sup></span><br>
        </div>
    </div>
    </div>


</main>
