<main class="container-fluid">

    <div id="myMap" style="position:relative;height:400px;">
        <!--<x-map #xmap [Options]="_options" [Box]="_box">-->
            <!--<x-map-marker-->
                    <!--[Latitude]="48.922430"-->
                    <!--[Longitude]="24.715083"-->
                    <!--[Title]="'My Marker'"-->
                    <!--[IconInfo]="_iconInfo">-->
                <!--<x-info-box-->
                        <!--[DisableAutoPan]="true"-->
                        <!--[Title]="'My InfoBox'"-->
                        <!--[Description]="'Hi, this is the content of the <strong>info window</strong>. It is your responsibility to implement functionality such as close, etc...'">-->
                    <!--<x-info-box-action [Label]="'Click Me'" (ActionClicked)="_click()"></x-info-box-action>-->
                <!--</x-info-box>-->
            <!--</x-map-marker>-->
        <!--</x-map>-->

    </div>

    <div class="row">
        <div class="contacts-wrap">
            <div class="contacts">
                <H2 class="items-header small">Контактна інформація</H2>
                <i class="icon fas fa-phone"></i><span>моб. 050-338-6335</span><br>
                <i class="icon fas fa-fax"></i><span>факс. 0342-55-94-81</span><br>
                <i class="icon fas fa-map-marker-alt"></i><span>Івано-Франківськ, Грушевського 22А</span><br>
                <i class="icon fas fa-at"></i><span>refakt95@gmail.com</span><br>
                <i class="icon fas fa-calendar"></i><span>Пн-Пт. 9:<sup>30</sup>-17:<sup>00</sup></span><br>
            </div>
        </div>
        <div class="contactForm">
            <app-contact-form></app-contact-form>
        </div>
    </div>


</main>
