.product-details {
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 1000px;

  .product-header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .product-image {
      min-width: 300px;
      img {
        width: 100%;
      }
    }
  }

  .products-list {
    min-width: 700px;
    padding: 0 15px;

    li a {
      cursor: pointer;
    }
  }

  .form {
  padding: 0 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .form-control {
      width: 50%;
      min-width: 300px;
      margin: 5px 0;
    }
  }
}

@media all and (max-width: 680px) {
  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
