/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 120px;
  background-image: url(./assets/images/bg1.jpg);
  color: #f6a64d;
  text-align: center;
}
//.main-content-wrapper {
//  margin-bottom: 80px;
//  text-align: center;
//  padding: 0 20px;
//
//}
