/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 12vmin;
  background-image: url(assets/images/bg1.jpg);
  color: #f6a64d;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
*:focus {
  outline: none;
}
.carousel-indicators li.active {
  background-color: #f6a64d;
}