<div class="categories">
  <div *ngFor="let item of categories" class="row-item col-sm-12 col-md-4 col-lg-4">
    <div class="img__wrap">
      <img class="img__img" [src]='item.imgUrl'/>
      <a [routerLink]="'/products/' + item.id">
        <div class="img__description_layer">
          <p class="img__description" [innerHtml] = 'item.description'></p>
        </div>
      </a>
      <div class="p-wrapper">
        <h2 class="img_title">{{item.title}}</h2>
      </div>
    </div>
  </div>
</div>
